<div class="well">
    <div class="container">
        <div class="text-center top5">
            <button class="btn-xs btn-default">Author</button>
            <button class="btn-xs btn-primary">Contact</button>
            <button class="btn-xs btn-warning">About</button>
            <button class="btn-xs btn-success">License</button>
        </div>
        <div class="text-center top5">
            <details>
                <summary>Copyriht 1995-2019</summary>
                <p>- by Refsnes Data. All Rights Reserved.</p>
            </details>
        </div>
    </div>
</div>